<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="university.employment.manager.dao.SysStuDanganMapper" >
  <resultMap id="BaseResultMap" type="university.employment.manager.entity.SysStuDangan" >
    <id column="did" property="did" jdbcType="INTEGER" />
    <result column="stuid" property="stuid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="xingzhengbanji" property="xingzhengbanji" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="zhengzhimianmao" property="zhengzhimianmao" jdbcType="VARCHAR" />
    <result column="rutuandate" property="rutuandate" jdbcType="VARCHAR" />
    <result column="identityid" property="identityid" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="homeaddr" property="homeaddr" jdbcType="VARCHAR" />
    <result column="zipcode" property="zipcode" jdbcType="VARCHAR" />
    <result column="contactphone" property="contactphone" jdbcType="VARCHAR" />
    <result column="guanxi" property="guanxi" jdbcType="VARCHAR" />
    <result column="xuexijingli" property="xuexijingli" jdbcType="VARCHAR" />
    <result column="awards" property="awards" jdbcType="VARCHAR" />
    <result column="punish" property="punish" jdbcType="VARCHAR" />
    <result column="studentid" property="studentid" jdbcType="VARCHAR" />
    <result column="jiguan" property="jiguan" jdbcType="VARCHAR" />
    <result column="beizhu" property="beizhu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    did, stuid, name, gender, nation, xingzhengbanji, birthday, zhengzhimianmao, rutuandate, 
    identityid, phone, mail, homeaddr, zipcode, contactphone, guanxi, xuexijingli, awards, 
    punish, studentid, jiguan, beizhu
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="university.employment.manager.entity.SysStuDanganExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_stu_dangan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_stu_dangan
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_stu_dangan
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="university.employment.manager.entity.SysStuDanganExample" >
    delete from sys_stu_dangan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="university.employment.manager.entity.SysStuDangan" >
    insert into sys_stu_dangan (did, stuid, name, 
      gender, nation, xingzhengbanji, 
      birthday, zhengzhimianmao, rutuandate, 
      identityid, phone, mail, 
      homeaddr, zipcode, contactphone, 
      guanxi, xuexijingli, awards, 
      punish, studentid, jiguan, 
      beizhu)
    values (#{did,jdbcType=INTEGER}, #{stuid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{xingzhengbanji,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{zhengzhimianmao,jdbcType=VARCHAR}, #{rutuandate,jdbcType=VARCHAR}, 
      #{identityid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, 
      #{homeaddr,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{contactphone,jdbcType=VARCHAR}, 
      #{guanxi,jdbcType=VARCHAR}, #{xuexijingli,jdbcType=VARCHAR}, #{awards,jdbcType=VARCHAR}, 
      #{punish,jdbcType=VARCHAR}, #{studentid,jdbcType=VARCHAR}, #{jiguan,jdbcType=VARCHAR}, 
      #{beizhu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="university.employment.manager.entity.SysStuDangan" >
    insert into sys_stu_dangan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="stuid != null" >
        stuid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="xingzhengbanji != null" >
        xingzhengbanji,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="zhengzhimianmao != null" >
        zhengzhimianmao,
      </if>
      <if test="rutuandate != null" >
        rutuandate,
      </if>
      <if test="identityid != null" >
        identityid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="homeaddr != null" >
        homeaddr,
      </if>
      <if test="zipcode != null" >
        zipcode,
      </if>
      <if test="contactphone != null" >
        contactphone,
      </if>
      <if test="guanxi != null" >
        guanxi,
      </if>
      <if test="xuexijingli != null" >
        xuexijingli,
      </if>
      <if test="awards != null" >
        awards,
      </if>
      <if test="punish != null" >
        punish,
      </if>
      <if test="studentid != null" >
        studentid,
      </if>
      <if test="jiguan != null" >
        jiguan,
      </if>
      <if test="beizhu != null" >
        beizhu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="stuid != null" >
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="xingzhengbanji != null" >
        #{xingzhengbanji,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="zhengzhimianmao != null" >
        #{zhengzhimianmao,jdbcType=VARCHAR},
      </if>
      <if test="rutuandate != null" >
        #{rutuandate,jdbcType=VARCHAR},
      </if>
      <if test="identityid != null" >
        #{identityid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="homeaddr != null" >
        #{homeaddr,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null" >
        #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="guanxi != null" >
        #{guanxi,jdbcType=VARCHAR},
      </if>
      <if test="xuexijingli != null" >
        #{xuexijingli,jdbcType=VARCHAR},
      </if>
      <if test="awards != null" >
        #{awards,jdbcType=VARCHAR},
      </if>
      <if test="punish != null" >
        #{punish,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=VARCHAR},
      </if>
      <if test="jiguan != null" >
        #{jiguan,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        #{beizhu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="university.employment.manager.entity.SysStuDanganExample" resultType="java.lang.Integer" >
    select count(*) from sys_stu_dangan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_stu_dangan
    <set >
      <if test="record.did != null" >
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.stuid != null" >
        stuid = #{record.stuid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.xingzhengbanji != null" >
        xingzhengbanji = #{record.xingzhengbanji,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.zhengzhimianmao != null" >
        zhengzhimianmao = #{record.zhengzhimianmao,jdbcType=VARCHAR},
      </if>
      <if test="record.rutuandate != null" >
        rutuandate = #{record.rutuandate,jdbcType=VARCHAR},
      </if>
      <if test="record.identityid != null" >
        identityid = #{record.identityid,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.mail != null" >
        mail = #{record.mail,jdbcType=VARCHAR},
      </if>
      <if test="record.homeaddr != null" >
        homeaddr = #{record.homeaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.zipcode != null" >
        zipcode = #{record.zipcode,jdbcType=VARCHAR},
      </if>
      <if test="record.contactphone != null" >
        contactphone = #{record.contactphone,jdbcType=VARCHAR},
      </if>
      <if test="record.guanxi != null" >
        guanxi = #{record.guanxi,jdbcType=VARCHAR},
      </if>
      <if test="record.xuexijingli != null" >
        xuexijingli = #{record.xuexijingli,jdbcType=VARCHAR},
      </if>
      <if test="record.awards != null" >
        awards = #{record.awards,jdbcType=VARCHAR},
      </if>
      <if test="record.punish != null" >
        punish = #{record.punish,jdbcType=VARCHAR},
      </if>
      <if test="record.studentid != null" >
        studentid = #{record.studentid,jdbcType=VARCHAR},
      </if>
      <if test="record.jiguan != null" >
        jiguan = #{record.jiguan,jdbcType=VARCHAR},
      </if>
      <if test="record.beizhu != null" >
        beizhu = #{record.beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_stu_dangan
    set did = #{record.did,jdbcType=INTEGER},
      stuid = #{record.stuid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=VARCHAR},
      nation = #{record.nation,jdbcType=VARCHAR},
      xingzhengbanji = #{record.xingzhengbanji,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      zhengzhimianmao = #{record.zhengzhimianmao,jdbcType=VARCHAR},
      rutuandate = #{record.rutuandate,jdbcType=VARCHAR},
      identityid = #{record.identityid,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      mail = #{record.mail,jdbcType=VARCHAR},
      homeaddr = #{record.homeaddr,jdbcType=VARCHAR},
      zipcode = #{record.zipcode,jdbcType=VARCHAR},
      contactphone = #{record.contactphone,jdbcType=VARCHAR},
      guanxi = #{record.guanxi,jdbcType=VARCHAR},
      xuexijingli = #{record.xuexijingli,jdbcType=VARCHAR},
      awards = #{record.awards,jdbcType=VARCHAR},
      punish = #{record.punish,jdbcType=VARCHAR},
      studentid = #{record.studentid,jdbcType=VARCHAR},
      jiguan = #{record.jiguan,jdbcType=VARCHAR},
      beizhu = #{record.beizhu,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="university.employment.manager.entity.SysStuDangan" >
    update sys_stu_dangan
    <set >
      <if test="stuid != null" >
        stuid = #{stuid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="xingzhengbanji != null" >
        xingzhengbanji = #{xingzhengbanji,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="zhengzhimianmao != null" >
        zhengzhimianmao = #{zhengzhimianmao,jdbcType=VARCHAR},
      </if>
      <if test="rutuandate != null" >
        rutuandate = #{rutuandate,jdbcType=VARCHAR},
      </if>
      <if test="identityid != null" >
        identityid = #{identityid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="homeaddr != null" >
        homeaddr = #{homeaddr,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null" >
        zipcode = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="contactphone != null" >
        contactphone = #{contactphone,jdbcType=VARCHAR},
      </if>
      <if test="guanxi != null" >
        guanxi = #{guanxi,jdbcType=VARCHAR},
      </if>
      <if test="xuexijingli != null" >
        xuexijingli = #{xuexijingli,jdbcType=VARCHAR},
      </if>
      <if test="awards != null" >
        awards = #{awards,jdbcType=VARCHAR},
      </if>
      <if test="punish != null" >
        punish = #{punish,jdbcType=VARCHAR},
      </if>
      <if test="studentid != null" >
        studentid = #{studentid,jdbcType=VARCHAR},
      </if>
      <if test="jiguan != null" >
        jiguan = #{jiguan,jdbcType=VARCHAR},
      </if>
      <if test="beizhu != null" >
        beizhu = #{beizhu,jdbcType=VARCHAR},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="university.employment.manager.entity.SysStuDangan" >
    update sys_stu_dangan
    set stuid = #{stuid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      xingzhengbanji = #{xingzhengbanji,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      zhengzhimianmao = #{zhengzhimianmao,jdbcType=VARCHAR},
      rutuandate = #{rutuandate,jdbcType=VARCHAR},
      identityid = #{identityid,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      homeaddr = #{homeaddr,jdbcType=VARCHAR},
      zipcode = #{zipcode,jdbcType=VARCHAR},
      contactphone = #{contactphone,jdbcType=VARCHAR},
      guanxi = #{guanxi,jdbcType=VARCHAR},
      xuexijingli = #{xuexijingli,jdbcType=VARCHAR},
      awards = #{awards,jdbcType=VARCHAR},
      punish = #{punish,jdbcType=VARCHAR},
      studentid = #{studentid,jdbcType=VARCHAR},
      jiguan = #{jiguan,jdbcType=VARCHAR},
      beizhu = #{beizhu,jdbcType=VARCHAR}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>